/*  your css code here. If applicable */
#ex1{
	color:blue;
	font-size:70px;
	font-weight:bold;
	
}
#ex2{
	color:red;
	font-size:60px;
	font-weight:bold;
}
#ex3{
	color:limegreen;
	font-size:50px;
	font-weight:bold;
}#ex4{
	color:orange;
	font-size:40px;
	font-weight:bold;
}
#ex5{
	color:grey;
	font-size:30px;
	font-weight:bold;
}
#ex6{
	color:yellow;
	font-size:20px;
	font-weight:bold;
}
